.btn1{
    height: 40px;
    width: 180px;
    background-color: rgb(34, 83, 173);
    color: white;
    font-weight: bolder;
    font-size: medium;
    border: none;
    border-radius: 5px;
}
.template_id{
    border: 2px solid black;
    height: 200px;
    width: 200px;
}
.input1{
    height: 30px;
    width: 280px;
    font-size: medium;
}